<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header" class="header">
    <script>
        $(document).ready(function(){
            // 해더의 로그아웃 눌렸을 때 id=logout을 #으로 불러옴
            $('#logout').click(function(){
                alert("로그아웃 되었습니다.")
            });
            // 삭제요망
            // 마이페이지에 회원탈퇴를 눌렸을 때
            // id = "deleteMember-completed"를 #으로 불러옴
            // $('#deleteMember').click(function(){
            //     alert("회원 탈퇴가 완료되었습니다.\n자동 로그아웃 됩니다.")
            // });

            // update폼에서 수정버튼을 클릭하고 수정 완료 되었을 때
            // id = "updateMember-completed"를 #으로 불러옴
            // 비밀번호 확인이 되지 않아도, 수정 버튼만 누르면 alter창이 뜬다
            // 그래서 일단 주석처리
            // $('#updateMember-completed').click(function(){
            //     alert("회원정보가 수정 되었습니다.")
            // });
        });

    </script>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Lecture101</a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/item/new">강의 등록</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/admin/items">강의 관리</a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/members/admin">회원 관리</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/cart">강의 신청</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/orders">수강 이력</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/members/mypage">마이페이지</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/new">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" href="/members/login">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a id="logout" class="nav-link" href="/members/logout">로그아웃</a>
                </li>

            </ul>
            <li class="nav-link text-light" sec:authorize="isAuthenticated()">
                <span sec:authentication="name"></span>님 환영합니다.
            </li>


            <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
                <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</div>

</html>