/* 1018 수정 */
html {
    position: relative;
    height: 100%;
    margin: 0;
}
/* 1018 수정 */
body {
    height: 100%;
    font-family: 'Roboto','Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    font-size: 1em;
    line-height: normal;
}
/* 1018 9:59 추가 */

/* 1018 수정 */
.content {
    min-height:calc(100% - 165px);
}
/* 1018 수정 */
.footer {
    /*position: absolute;
    left: 0;
    right: 0;
    bottom: 0;*/
    width: 100%;
    height: 100px;
    padding: 15px 0;
    text-align: center;
    background: #222;
}
.footer-copyright {
    font-family: 'Montserrat', 'Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    font-size: 0.9rem;
    color: #888;
}



