html {
    position: relative;
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    font-family: 'Montserrat','Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    font-size: 1em;
    line-height: normal;
}
.footer {
    /*position: absolute;
    left: 0;
    right: 0;
    bottom: 0;*/
    border: 1px solid #ccc;
    border-width: 1px 0 0 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}
.content{
    margin-bottom: 60px;
}


