/* --------------------------*/
/* common css
/* --------------------------*/

/*  reset */
a {
    color: #212529;
}
a:hover {
    color: #000;
}

.lead {
    white-space: pre-line;
}

.card-body .badge {
    display: inline-block;
    margin-left: 10px;
    font-size: 0.8rem;
    font-weight: normal;
}

/* table */
.inner-cont .table {
    border-bottom: 2px solid #dee2e6;
    margin-bottom: 2rem;
}
.inner-cont .table.center tbody,
.inner-cont .table tbody td.center{
    text-align: center;
}
.inner-cont .table thead th,
.inner-cont .table thead td{
    text-align: center;
    background: #f5f5f5;
    font-weight: 500;
}
.inner-cont .table th,
.inner-cont .table td {
    vertical-align: middle;
}
.inner-cont table .close {
    float: none;
}
.inner-cont .table tbody td:first-child {
    text-align: center;
}
.inner-cont .pagination {
    margin: 40px 0;
}



/* Header */
.header .navbar-brand {
    font-family: 'Montserrat', 'Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    font-weight: 600;
}

.header .bg-primary {
    position: fixed;
    top:0;
    width: 100%;
    padding: 0.8em 2em;
    background: rgba(0,0, 0, 0.8)!important;
    z-index: 99;
}



/* --------------------------*/
/* main css
/* --------------------------*/

/* main visual */
.main-visual {
    position: relative;
    width: 100%;
    height: 520px;
    overflow: hidden;
    background: #000;
}
.visual-fadein {
    position:absolute;
    top:0;
    left:0;
    margin:auto;
    width: 100%;
}
.visual-fadein > div {
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height: 520px;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 15s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    background-position: center;
    background-repeat: no-repeat;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#vf1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/visual1.jpg") ;
}
#vf2 {
    -webkit-animation-delay: -5s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/visual3.jpg");
}
#vf3 {
    -webkit-animation-delay: -10s;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/visual6.jpg") ;
}



.visual-text {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.visual-text p:first-child {
    font-weight: 700;
    font-size: 3em;
}
.visual-text p {
    font-size: 1.2em;
}

.main-inner-cont {
    max-width: 1280px;
    margin: 60px auto 0;
}


/* main card */
.main-inner-cont .card {
    border: none;
}
.main-inner-cont .card-body {
    padding: 1rem 1rem 2.5rem;
}
.main-inner-cont .card img {
    border-radius: 20px;
    height: 280px;
}
.main-inner-cont .card-body .card-ctg {
    font-size: 0.9rem;
    margin-bottom: 16px;
    color: #777;
}
.main-inner-cont .card-body .card-ctg span:first-child {
    margin-right: 10px;
}
.main-inner-cont .card-body .card-ctg span:first-child:after {
    content: '|';
    display: inline-block;
    padding-left: 15px;
    color: #bbb;
}
.main-inner-cont .card-body .card-title {
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 0.4rem;
}
.main-inner-cont .card-body .card-price {
    font-family: 'Montserrat', 'Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #2D3BBC;
}







/* --------------------------*/
/* sub css
/* --------------------------*/

/* sub layout */
.inner-cont {
    max-width: 1200px;
    margin: 120px auto 60px;
}
.inner-cont.member {
    max-width: 600px;
}
.inner-cont h2 {
    margin-bottom: 20px;
}

/* --------------------------*/
/* item : 강의
/* --------------------------*/

.img-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    _grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
    align-content: stretch;
    gap: 20px;
    max-height: 520px;
    margin-bottom: 30px;
}
.img-grid .grid-item {
    position: relative;
    align-self: stretch;
    overflow: hidden;

}
.img-grid .grid-item img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}

.img-grid .grid-item:first-child {
    height: 520px;
    grid-row: 1 / span 2;
    border-radius: 1.6rem 0 0 1.6rem;
}
.img-grid .grid-item:nth-child(2) {
    border-radius: 0 1.6rem 0 0;
}
.img-grid .grid-item:nth-child(3) {
    border-radius: 0 0 1.6rem 0;
}

/* 서브 상세 페이지 */
.item-wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: dense;
    align-content: stretch;
    gap: 20px;

}
.item-wrap .item-inner, .item-wrap .item-aside{
    position: relative;
    align-self: stretch;
}

.item-header {
    margin: 10px 0 40px;
}
.item-header span {
    margin-right: 10px;
    color: #666;
}
.item-header span:after {
    content: '|';
    padding-left: 9px;
}

.item-aside-inner {
    border-radius: 1.6rem;
    padding: 2rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/*달력 내용 추가한 시작 부분*/
#calendar-widget {
    width: 100%;
    margin: 20px 0;
    z-index: 2;
}
#calendar-widget h4 {
    border-bottom: 1px solid #bbb;
    padding-bottom: 16px;
    margin-bottom: 20px;
}

/* jquery-ui.css */
#calendar-widget .ui-datepicker {
    width: 100%;
}

.item-aside .item-price {
    margin: 0 0 25px 0;
    padding: 10px 0 25px;
    border-bottom: 1px solid #bbb;
}
.item-aside .item-price .price {
    padding: 5px 0 0 0;
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Montserrat', 'Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    color: #2D3BBC;
}
.item-aside .item-price .input-group {
    padding: 0;
}
.item-aside .item-price .price:before {
    content: '\20A9';
}
.item-aside .lecture-date {
    margin: 7px 0;
    font-size: 0.9rem;
}
.item-aside .lecture-date .s-title {
    display: inline-block;
    margin-right: 30px;
    font-weight: 600;
}
.item-aside .lecture-date .s-title:before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 3px;
    margin: 0 4px 4px 0;
    border-radius: 10em;
    background: #e05e35;
}
.item-aside .lecture-date span:nth-child(2),
.item-aside .select-date span:nth-child(2){
    font-family: 'Montserrat', 'Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
}

.item-aside .select-date {
    text-align: center;
    background: #efefef;
    padding: 16px 20px;
    border-radius: 10em;
    font-weight: 600;
    margin: 20px 0;
}
.item-aside .select-date span:first-child {
    display: inline-block;
    padding-right: 20px;
    color: #e05e35;
    font-weight: 600;
}
.item-aside .reg-dsc {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 7px;
}
.item-aside .reg-dsc:before {
    content: '\00B7';
    display: inline-block;
    padding-right: 6px;
}
.item-aside .total-price {
    margin: 24px 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #bbb;
}
.item-aside .total-price h5 {
    font-size: 1rem;
    padding-top: 10px;
}
.item-aside .total-price #totalPrice {
    font-family: 'Montserrat', 'Noto Sans KR', 맑은고딕, 'Dotum', 돋움, 'Arial', sans-serif;
    font-size: 1.8rem;
    color: #e05e35;
    text-align: right;
}

.item-aside .btn-order {
    text-align: center;
}

.nav-info {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 2rem;
}
.nav-info li {
    list-style: none;
}
.nav-info a {
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    padding: 20px 30px;
    box-sizing: border-box;
}
.nav-info a:hover {
    text-decoration: none;
    border-bottom: 2px solid #e05e35;
}
.info-block {
    margin: 40px 0;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
.info-img {
    margin-bottom: 20px;
}

.lead {
    font-size: 1.15rem;
}

#review .reviewer {
    float: right;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
#review .reviewer span:first-child {
    color: #000;
    font-weight: 500;
}

#comment-write-btn {
    float: right;
    margin: 7px 0;
}


/* --------------------------*/
/* order : 강의 신청
/* --------------------------*/
.order-wrap .card {
    border: none;
}
.order-list-block {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 1.4em;
    padding: 2rem;
    margin-bottom: 20px;
}
.order-list-block .order-data {
    margin-left :20px;
}
.order-list-block .order-data ul {
    display: flex;
    font-size: 1.1rem;
    margin: 14px 0 5px;
}
.order-list-block .order-data ul span {
    display: inline-block;
}
.order-list-block .order-data ul li span:first-child {
    display: inline-block;
    padding-right: 5px;
    color: #e05e35;
}
.order-list-block .order-data ul li span:last-child:after {
    content:'|';
    display: inline-block;
    color: #999;
    height: 16px;
    margin: 0 14px;
}
.order-list-block .order-data ul li:last-child span:last-child:after {
    display: none;
}
.order-list-block .order-btn {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.inner-cont .cart-wrap .form-control {
    display: inline-block;
    width: 100px;
}

.cart-totalPrice-list {
    margin: 10px 0;
    padding-top: 10px;
    border-top: 1px dashed #ddd;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #66717d;
    border-color: #66717d;
}
.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #50565d;
    background-color: #fff;
    border: 1px solid #dee2e6;
}


