<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }
        .margin{
            margin-bottom:30px;
        }
        .banner{
            height: 300px;
        }
        .card-text{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 24px;
        }
        a:hover{
            text-decoration:none;
        }
        .center{
            text-align:center;
        }
        .banner{
            position: absolute; top:0; left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <!-- main visual -->
    <div class="main-visual">
        <div class="visual-fadein">
            <div id="vf3">
                <div class="visual-text">
                    <p>색다른 하루를 경험해 보세요.</p>
                    <p>Lecture101은 초보자들도 쉽게 배울 수 있는 다양한 수업을 제공하고 있습니다.<br>
                        하루의 수업을 통해 다양성을 경험하고 새로운 자신을 발견해 보세요.</p>
                </div>
            </div>
            <div id="vf2">
                <div class="visual-text">
                    <p>나만의 취미를 만들어 보세요.</p>
                    <p>Lecture101은 초보자들도 쉽게 배울 수 있는 다양한 수업을 제공하고 있습니다.<br>
                        하루의 수업을 통해 다양성을 경험하고 새로운 자신을 발견해 보세요.</p>
                </div>
            </div>
            <div id="vf1">
                <div class="visual-text">
                    <p>다양한 주제를 제공합니다.</p>
                    <p>Lecture101은 초보자들도 쉽게 배울 수 있는 다양한 수업을 제공하고 있습니다.<br>
                        하루의 수업을 통해 다양성을 경험하고 새로운 자신을 발견해 보세요.</p>
                </div>
            </div>
        </div>
        <!-- //main visual -->

    </div>

    <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>

    <div class="row main-inner-cont">
        <th:block th:each="item, status: ${items.getContent()}">
            <div class="col-4">
                <div class="card">
                    <a th:href="'/item/' +${item.id}" class="text-dark">
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                        <div class="card-body">
                            <!-- 카테고리 출력 -->
                            <div class="card-ctg">
                                <span th:each="type : ${T(com.lecture101.constant.Category).values()}"
                                      th:if="${item.Category == type}"
                                      th:text="${type.displayName}">
                                </span>
                                <span th:each="type : ${T(com.lecture101.constant.LectureType).values()}"
                                      th:if="${item.LectureType == type}"
                                      th:text="${type.description}">
                                </span>
                                <span th:if="${item.itemSellStatus == T(com.lecture101.constant.ItemSellStatus).SELL}" class="badge badge-primary">
                                    강의중
                                </span>
                                <span th:unless="${item.itemSellStatus == T(com.lecture101.constant.ItemSellStatus).SELL}" class="badge badge-secondary" >
                                    종료된 강의
                                </span>
                                <!--<span th:each="type : ${T(com.lecture101.constant.ItemSellStatus).values()}"
                                      th:if="${item.ItemSellStatus == type}"
                                      th:text="${type.description}">
                                </span>-->
                            </div>
                            <!-- //카테고리 출력 -->
                            <h4 class="card-title">[[${item.itemNm}]]</h4>
                            <p class="card-text">[[${item.itemDetail}]]</p>
                            <!-- 금액 콤마 -->
                            <h3 class="card-price" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')} + '원'">[[${item.price}]]</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>

    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

</div>